@font-face {
  font-family: 'Print';
  src:
      url("PrintChar21.ttf") format("truetype");
}

@font-face {
    font-family: 'Mondwest';
    src: url('Mondwest-Regular.woff2') format('woff2'),
        url('Mondwest-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mondwest';
    src: url('Mondwest-Regular.woff2') format('woff2'),
        url('Mondwest-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
margin: 0;
padding:0;
font-family: 'Print';
font-size: 9pt;
color:white;
background-color: black;
overflow:hidden;
filter: contrast(110%);
}

.header{
height:10%;
width:100vw;
padding: 20px;
z-index:1;
position:absolute;}

.bigwheel{
  height:100%;
  width:100%;
  display:flex;
  flex-direction:column;


  min-width: 1300px;

  position:absolute;
}


.rowone, .rowtwo{
width:100vw;
height:50%;
display:inline-block;
background-color:black;
}

.rowtwo{
  z-index:99;
}

.box{
 width:50% !important;
  margin:0px;
  overflow:hidden;

}
.cont{
width:100vw;
height:100vh;
}

::selection {
  background: white; /* WebKit/Blink Browsers */
  color: black;
}

.sizing{
/*width:50%;*/
    min-width: 50%;
  max-width:50%;
  background-color:black;
    min-height: 100%;
    width: auto;
    height: auto;
    cursor:pointer;

    background-size: cover;
    overflow: hidden;}
